* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;

  /* achtergrondfoto */
  background-image: url("../assets/20231023_133133.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* visitekaartje container */
.profile-card-example {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  

  padding: 2rem;
  width: 80%;
  max-width: 350px;

  border-radius: 1.5rem;

  /* glassmorphism effect */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  color: #fff;
}
.profile-card-example {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-card-example:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 12px 40px (94, 241, 104, 0.5);
}


/* profielfoto */
.profile-card-example-img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.6);
  margin-bottom: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.profile-card-example-img:hover {
  transform: scale(110%);
}
/* naam + tagline */
.profile-card-example-header h1 {
  font-size: 2rem;
  color: #fff;
}

.profile-card-example-header h3 {
  font-size: 1rem;
  font-weight: 300;
  color: #e0e0e0;
  margin-top: 0.5rem;
}

/* bio */
.profile-card-bio {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 1.5rem 0;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 1rem;
  color: #f0f0f0;
  font-size: 0.95rem;
  line-height: 1.4;
}

/* hobby’s */
.profile-card-hobbies h2 {
  margin-bottom: 1rem;
  color: #fff;
}

.profile-card-hobbies ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-card-hobbies li {
  background: rgba(255, 255, 255, 0.15);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 0.9rem;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
/* Verschillende hover effecten per hobby */
.profile-card-hobbies li:nth-child(1):hover {
  background: rgba(20, 221, 232, 0.7);  /* roodachtig */
  transform: scale(1.2);
}

.profile-card-hobbies li:nth-child(2):hover {
  background: rgba(255, 242, 100, 0.7);  /* blauwachtig */
  transform: scale(1.2) rotate(-2deg);
}

.profile-card-hobbies li:nth-child(3):hover {
  background: rgba(34, 37, 35, 0.7);  /* groenachtig */
  transform: scale(1.2) rotate(2deg);
}

.profile-card-hobbies li:nth-child(4):hover {
  background: rgba(255, 0, 0, 0.7);  /* paarsachtig */
  transform: scale(1.2) rotate(-3deg);
}



